<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Not Found
		style.
			body {
				background-image: url('https://internetdevels.com/sites/default/files/public/blog_preview/404_page_cover.jpg');
				background-color: #333;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}
	body

	