doctype html
html(lang='en')
	head
		title= title
		//- `block css` will insert css specific for each page
		block css	
		
	body
		//- `block content` 
		block content
	br
	hr
	footer
		p Copyright &copy; 2020